VITE_SUPABASE_URL=https://uuvtlyxjbmeglleyicjq.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV1dnRseXhqYm1lZ2xsZXlpY2pxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIwNTU0OTAsImV4cCI6MjA4NzYzMTQ5MH0.GEiXqRLtc9eKdFnt3gCsHwsGfApcPnP44p7ddV7rMcw